[submodule "android"]
	path = .sdks/android
    url = git@github.com:mParticle/mparticle-android-sdk-internal.git
[submodule "apple"]
	path = .sdks/apple
   	url = git@github.com:mParticle/mparticle-apple-sdk-internal.git
